/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
	margin: 30px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
/* end of divtable reference : https://divtable.com/generator/ */


.container {
	border: 1px solid black;
	margin: 30px;
	/* width: 600px; */
	width: 50%;
	font-size: 4em;
}
.container>* {
	border: 1px solid black;
	padding: 10px;
}
